#your-site {
  margin-bottom: 15em;
}


.office-bg {
  background-image: url(https://images.unsplash.com/photo-1564069114553-7215e1ff1890?q=80&w=2532&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  min-height: 90dvh;
}

.text-shadow {
  text-shadow: 1px 2px 4px black;
}


.icon-jiggle {
  transition: transform ease-in-out .2s;
}

/* :hover is a pseudo-selector in css. It will apply styles when the mouse cursor hovers over an element */
.info-blurb:hover .icon-jiggle {
  transform: translateY(-.5rem);
}

/* Specificity examples */
/* 
#cool {
  color: green;
}

b {
  color: red;
}

b {
  color: blue;
}

.cool {
  color: purple;
} 
*/